.grid-wrapper, .grid-nest {
    margin: 0 auto;
    max-width: 1200px;
    // Flexbox fallback
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @supports(display: grid) {
        display: grid; grid-gap: 30px;
        grid-template-columns: repeat(12, 1fr); grid-template-rows: auto;
        &.grid-lg {
            @media all and (max-width: 1199px) {
                grid-template-columns: 100%;
                grid-gap: 0;
            }
        }
        &.grid-md {
            @media all and (max-width: 991px) {
                grid-template-columns: 100%;
                grid-gap: 0;
            }
        }
        &.grid-sm {
            @media all and (max-width: 767px) {
                grid-template-columns: 100%;
                grid-gap: 0;
            }
        }
    }
}

.grid-wrapper {
    width: calc(100% -  80px);
    padding: 0 40px;
}

@for $i from 1 through 12 {
    .grid-#{$i} {
        width: calc((100% / 12) * #{$i});
        @supports(display: grid) {
            width: 100%;
            grid-column: span $i;
        }
        
        // Full width on mobile for flexbox
        .grid-lg & {
            @media all and (max-width: 1199px) {
                width: 100%; grid-column: span 12;
            }
        }
        .grid-md & {
            @media all and (max-width: 991px) {
                width: 100%; grid-column: span 12;
            }
        }
        .grid-sm & {
            @media all and (max-width: 767px) {
                width: 100%; grid-column: span 12;
            }
        }
    }
}