@import 'reset';
@import 'grid';
@import 'global';

:root {
	--purple: 	    #731DD8;
    --blue:         #48A9A6;
    --white: 	    #E4DFDA;
    --very-white:   #FFF;
	--black: 	    #1F271B;
}

body {
	font-family: 'IBM Plex Serif', serif;
	width: 100%;
    //overflow: hidden;
    overflow-x: hidden;
}

header {
	height: 100vh; max-height: 100vh; width: 100%;
	.home & {
        background-color: var(--purple);
        .intro {
            &__heading {
                color: var(--blue);
            }
            &__sub {
                color: var(--white);
            }
        }
	}
	.about & {
		background-color: var(--blue);
		.intro {
            &__heading {
                color: var(--purple);
            }
            &__sub {
                color: var(--white);
                line-height: .4;
            }
        } 
    }
    .portfolio & {
		background-color: var(--blue);
		.intro {
            &__heading {
                color: var(--purple);
            }
            &__sub {
                top: 45%;
                color: var(--white);
                line-height: .5;
            }
        } 
	}
	.nav {
        position: absolute; bottom: 1.8rem; left: 50%; transform: translateX(-50%); z-index: 2;
        font-family: 'Summer Loving Sans', Impact, sans-serif;
		&__list {
			text-align: center;
			&_item {
				margin-right: 1.6rem;
				display: inline-block; line-height: 1;
				a {
                    padding: 0 0 7px;
					color: var(--white); text-decoration: none;
                    font-size: 2.5rem;
                    display: block;
                    position: relative; overflow: hidden;
                    &:after {
                        content: '';
                        height: 4px; width: 100%;
                        position: absolute; bottom: 0; left: 0;
                        background-color: var(--white);

                        transform: translateX(-101%);
                    }
                    &:hover, &:focus, &:active {
                        text-decoration: none;
                        &:after {
                            transform: translateX(0);
                        }
                    }
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.intro {
		position: absolute; top: 50%; left: 50%; transform: translate(-50%, -68%);
		&__heading {
            font-size: 25vw;
            font-family: 'Summer Loving Sans', Impact, sans-serif;
		}
		&__sub {
			width: 100%;
			font-family: 'Summer Loving Regular'; line-height: .5; text-align: center;
			position: absolute; top: 50%; left: 50%; transform: translate(-50%, -40%);
			z-index: 2;
		}
    }
    
    
}

.main {
    h1, h2, h3, h4, h5, h6, p, ul, ol, li {
        font-size: 1.2rem; line-height: 1.5; 
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 0.7;
    }
    .main-section {
        padding: 80px 0 110px; min-height: calc(100vh - 190px);
        &.white {
            background-color: var(--very-white); color: var(--blue);
        }
    }
    .about {
        &__image {
            position: relative; line-height: 0;
            &:before {
                content: '';
                height: 100%; width: 100%;
                position: absolute; top: 0; left: 0; z-index: 1;
                mix-blend-mode: overlay;
                background-color: var(--purple);
            }
            img {
                height: 540px; width: 100%;
                background-color: var(--black);
                position: relative;
                object-fit: cover; object-position: center center;
                filter: grayscale(70%);
            }
            &_title {
                position: absolute; bottom: -57px; left: 0; right: 0; z-index: 2;
                font-family: 'Summer Loving Regular'; font-size: 14vw; line-height: 1; text-align: center;
                color: var(--blue);
            }
        }
        &__text {
            height: 100%;
            display: flex; align-items: center;
            font-size: 1.2rem; line-height: 1.65;
            &_wrapper {
                margin: -28px 0 0;
            }
            p {
                margin: 0 0 20px;
                color: var(--black);
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    .portfolio {
        &__link {
            margin: 0 0 40px;
            display: block;
            text-decoration: none;
            h2 {
                font-family: 'Summer Loving Regular'; font-size: 11rem;
                color: var(--purple);
            }
            p {
                padding-left: 39px;
                position: relative; z-index: 1; //overflow: hidden;
                transform: translate(31px, 12px); 
                font-family: 'Summer Loving Sans'; font-size: 3rem;
                color: var(--black);
                &:after {
                    content: '|';
                    font-family: 'Summer Loving Regular';
                    color: var(--blue);
                    font-size: 20rem; line-height: 1; 
                    position: absolute; z-index: -1; left: 94px; bottom: -126px;
                    transform: rotateZ(81deg);
                    clip-path: ellipse(108% 90% at 0 179%);
                    transition: clip-path 60ms ease-out;
                }
            }
            &:hover, &:focus, &:active {
                p {
                    &:after {
                        transform: rotateZ(81deg);
                        clip-path: ellipse(108% 190% at 0 179%);
                    }
                }
            }
        }
    }
}

.button {
    padding: 4px 8px;
    font-family: 'Summer Loving Sans';
}